@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', 'Noto Sans TC', sans-serif;
}

.glass {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
